.jumbotron {
    background-color: #ffd0b3;
    color: black;
    margin-top: 50px;
}
/* .btn {
    background-color: #ffd0b3;
    color: black;

}*/
.footer {
    padding: 10px 10px 0 10px;
    background-color: #ffd0b3;
    margin-bottom: 0px;
    margin-top: 10px;
}
.footer-address-icon{
padding-right: 25px;
padding-left: 10px;
}
.foo-add-ico{
    padding-right: 10px;

}
.card-hotel{
    margin-top: 10px;
    flex: 1 200px;
    padding: 2px 4px 2px 4px
   /*d-flex;
   flex-column;
   justify-space-content-between;*/
}
.btn-reserva {
    width: 100%;
    
}
.card{
    min-width: 250px;
    img-max-width: 50px;
}
.tab-content{
    padding-top: 5px;
}