.jumbotron {
  background-color: #ffd0b3;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

/* .btn {
    background-color: #ffd0b3;
    color: black;

}*/
.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;
  background-color: #ffd0b3;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 0px; }

.foo-add-ico {
  padding-right: 10px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 4px 2px 4px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #ccfce0;
  /*d-flex;
   flex-column;
   justify-space-content-between;*/ }

.btn-reserva {
  width: 100%; }

.card {
  min-width: 250px;
  img-max-width: 50px; }

.tab-content {
  padding-top: 5px;
  background-color: #fcba03; }

.btn-index {
  margin-top: 10px; }
